*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
/* /header */

/* main */
select,option{
    cursor: pointer;
}
.cards{
    padding: 2rem 0rem;
    max-width: 915px;
}
.card{
    width: 12rem;
    text-align: center;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card i{
    font-size: 3rem;
}
.card h4{
    margin: 4px 0px 0px ;
    text-transform: uppercase;
}

/* /main */