*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
/* /header */

/* main */
select,option{
    cursor: pointer;
}
.cards{
    padding: 3rem 0rem;
}
.card{
    width: 12rem;
    text-align: center;
    padding: 0.5rem;
}
.card i{
    font-size: 3rem;
}
.card h4{
    margin: 4px 0px 0px ;
}

/* /main */